form {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-search {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 12px;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid;
}

label {
  font-size: 0.875rem;
  font-weight: 600;
}

.buttonSearch {
  padding: 0.75rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 20px;
    height: 20px;
  }
}

.error {
  position: absolute; /* Faz a mensagem de erro não afetar o layout do input */
  top: 100%; /* Posiciona abaixo do input */
  left: 0;
  font-size: 0.75rem;
  color: red; /* Cor vermelha para a mensagem de erro */
  margin-top: 0.3rem; /* Distância entre o input e a mensagem de erro */
  width: 100%; /* Garante que a mensagem de erro não ultrapasse o contêiner */
  text-align: left; /* Opcional: ajusta o texto da mensagem de erro */
}

// Tema Claro
.light {
  .input-search {
    background-color: #fff;
    color: #333;
    border-color: #ccc;

    &:focus {
      border-color: #44a246;
      box-shadow: 0 0 0 3px rgba(68, 162, 70, 0.2);
    }
  }

  label {
    color: #333;
  }

  .buttonSearch {
    background-color: #44a246;
    color: white;

    &:hover {
      background-color: #3c903f;
    }
  }
}

// Tema Escuro
.dark {
  .input-search {
    background-color: #2a2a2a;
    color: #f1f1f1;
    border-color: #444;

    &:focus {
      border-color: #44a246;
      box-shadow: 0 0 0 3px rgba(68, 162, 70, 0.2);
    }
  }

  label {
    color: #f1f1f1;
  }

  .buttonSearch {
    background-color: #44a246;
    color: white;

    &:hover {
      background-color: #3c903f;
    }
  }
}

@media (max-width: 640px) {
  form {
    flex-direction: column;
    align-items: stretch;
  }

  .input-container {
    width: 100%;
  }

  .buttonSearch {
    width: 100%;
    margin-top: 0.5rem;
  }
}
