.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
  position: relative;
  
  img {
    cursor: pointer;
    width: clamp(17.1rem, 8.155vw + 15.214rem, 25rem);
    height: auto;
  }

  label {
    position: relative;
    bottom: 155px;
    top: -55px;
    left: clamp(10rem, 15.484vw + 6.419rem, 25rem);
  }
}

@media (max-width: 435px) {
  .header {
    position: relative;
    gap: 35px;

    label {
      position: relative;
      bottom: 0px;
      top: 0px;
      left: 0px;
    }
  }
}
