.background-white {
  background-color: white;
}

.background-black {
  background-color: rgba(128, 128, 128, 0.404);
}

.green {
  color: #20be22;
}

.red {
  color: #ff7300;
}

.border-white > div {
  border-bottom: 1px solid white;
}

.border-black > div {
  border-bottom: 1px solid rgb(29, 28, 28);
}

.border-container-white {
  border: 1px solid white;
}

.border-container-black {
  border: 1px solid rgb(29, 28, 28);
}

.input-search {
  background-color: white;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  padding: 10px;

}
