.button {
  padding: 17px clamp(1.25rem, 0.952rem + 1.29vw, 2.5rem);
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  font-weight: 700;
}

.button:hover {
  letter-spacing: 3px;
  background-color: #44a246;
  color: hsl(0, 0%, 100%);
  box-shadow: #44a246 0px 7px 29px 0px;
}

.background-white {
  background-color: white;
}

.background-black {
  background-color: rgba(128, 128, 128, 0.404);
}

.green {
  color: #20be22;
}

.red {
  color: #ff7300;
}

.border-white > div {
  border-bottom: 1px solid white;
}

.border-black > div {
  border-bottom: 1px solid rgb(29, 28, 28);
}

.border-container-white {
  border: 1px solid white;
}

.border-container-black {
  border: 1px solid rgb(29, 28, 28);
}

.input-search {
  background-color: white;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
