.title-black {
  color: black;
}

.title-white {
  color: white;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: clamp(
    0.01rem,
    -0.027rem + 0.387vw,
    0.438rem
  ); /* Adjust as needed */
  line-height: 2rem;
  height: 50px;

  font-family: "Roboto Mono", monospace;

  animation: typing 1s steps(25, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

label {
  font-size: clamp(0.875rem, 0.806rem + 0.37vw, 1.25rem);
}

.title1 {
  font-size: clamp(1.1rem, 0.582rem + 1.806vw, 2.75rem);
}