.containerList {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  margin: 50px 0 100px 0;
}

.datepicker {
  background-color: white;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.containerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(15.625rem, 11.574rem + 21.605vw, 37.5rem);
}

.titleRanking {
  font-size: clamp(1.5rem, 1.315rem + 0.988vw, 2.5rem);
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
.containerDate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: clamp(0.875rem, 0.806rem + 0.37vw, 1.25rem);
  }
}

